.container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: black;
    }
    h2{
        color: white;
    }
   #nan{
    /* border: 1px solid white; */
    height: 40px;
    padding: 15px;
       display: flex; 
       justify-content: space-between;
    }
    
 header {
        /* background-color: #DF5398; */
        padding: 10px;
        /* display: flex; */
        /* justify-content: space-between; */
        }
h1 {
    color: white;
    text-align: center;

  }
  nav {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    background-color:black;
    /* width: 100%; */
    max-width: 500px;
    margin: 0 auto;
    }
    a {
        color: white;
        text-decoration: none;
    }
    .active {
        color: #FFD8EF;
    }
    main {
        padding: 10px;
    }
    .friends-section {
        /* border: 1px solid #DF5398; */
        padding: 10px;
        }
        .friends-list {
            /* display: flex; */
            flex-wrap: wrap;
            /* justify-content: space-between; */
            }
.friend-item {
                /* width: 25%; */
                /* padding: 10px; */
                border: 1px solid white;
                background-color: #DF5398;
    }
    .friend-item img {
        width: 100%;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
        
        }
        .friend-name {
            font-size: 20px;
            margin-top: 10px;
            display: flex;
            justify-content: space-evenly;
            
            }
            .friend-id {
                font-size: 16px;
                margin-top: 5px;
                display: flex;
                justify-content: center;
                
                }